<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="ключевые слова">
    <meta name="description" content="дизайнерские платья">
    <meta name=“robots” content=“index,follow”>
    <title>@ViewBag.Title</title>

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row header">
        <div class="container-fluid headerpat">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 logo">
                <a href="/Home/Index"><img src="~/img/logo.png" alt="Дизайнерские платья" title="Дизайнерские платья"></a>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 name">
                <a href="#"><img src="~/img/shoplogo.png" width="80%" alt="Ателье Самарская" title="Ателье Самарская"></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 icon">
                <a href="#"><img src="~/img/fb.png" alt="аккаунт фейсбук" title="аккаунт в фейсбуке"></a>
                <a href="#"><img src="~/img/insta.png" alt="аккаунт в инстaграме" title="аккаунт в инстаграме"></a>
                @Html.Action("Summary", "Basket")
            </div>
        </div>
    </div>
     
    @RenderBody()

    <div class="row footer">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <h4>Таблица размеров</h4>
                <table class="table table-hover" border="2px">
                    <thead>
                    <tr>
                        <th bgcolor="#8dbf8f" width="42px" height="15px"></th>
                        <th bgcolor="#8dbf8f" width="42px" height="15px"></th>
                        <th bgcolor="#8dbf8f" width="70px" height="15px">Объем груди (см)</th>
                        <th bgcolor="#8dbf8f" width="70px" height="15px">Объем талии (см)</th>
                        <th bgcolor="#8dbf8f" width="70px" height="15px">Объем бедра (см)</th>
                    </tr>
                    <tr>
                        <th>S</th>
                        <th>42</th>
                        <th>84</th>
                        <th>64</th>
                        <th>92</th>
                    </tr>
                    <tr>
                        <th>M</th>
                        <th>44</th>
                        <th>88</th>
                        <th>68</th>
                        <th>96</th>
                    </tr>
                    <tr>
                        <th>L</th>
                        <th>46</th>
                        <th>92</th>
                        <th>72</th>
                        <th>100</th>
                    </tr>
                    <tr>
                        <th>XL</th>
                        <th>48</th>
                        <th>96</th>
                        <th>76</th>
                        <th>104</th>
                    </tr>
                    </thead>

                </table>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <h4>Оплата и доставка</h4>
                <p>Наличные. Уточните информацию об оплате этим способом у мастера.</p>
                <p>Перевод на банковскую карту Для Украины: перевод банковскую на карту</p>
                <p>
                    <h5>Дополнительные условия оплаты:</h5>
                    Оплата для жителей России через социальные сети "", "Однокласники". Работает мгновенно, опробовано десятками раз.
                    Самый удобный способ.<br>
                    SWIFT - международный перевод по SWIFT реквизитам.
                    Осуществляется 1-3 рабочих дня (иногда до 5). Не самый простой в использовании.

                    Способы доставки
                    Доставка во все страны:
                    Почта
                    Самовывоз/Личная встреча
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <h4>Контакты</h4>
                <p>
                    Украина, Киев, ул. Оченьдлинная 123<br>
                    +380509879865
                </p>
            </div>
        </div>
        <div class="row webforyou">
            <strong><p class="m-0 text-center text-white">Copyright &copy; <a href="http://webforyou.com.ua/">WEB FOR YOU</a> 2017</p></strong>
        </div>  
    </div>
</div>
</body>
</html>