@model IEnumerable<Domain.Entityes.Order>
@using DressShopWebUI.Controllers
@{
    ViewBag.Title = "Заказы";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<label for="dateSelect" style="background-color: bisque">Отсортировать по дате заказа</label>
<select id="dateSelect">
    <option value="@((int)SortType.None)"></option>
    <option value="@((int)SortType.Before)">от последних к первым</option>
    <option value="@((int)SortType.Later)">от первых к последним </option>
</select>
<label for="statusSelect" style="background-color: bisque">Отсортировать по статусу</label>
<select id="statusSelect">
    <option value="0">Все заказы</option>
    <option value="1">новые заказы</option>
    <option value="2">выполненные заказы</option>
</select>
<br />
<br />
<div id="divOrders">
    @Html.Partial("PartialOrdeResult", Model)
</div>
<script>
    $(document)
        .ready(function() {
            $("#dateSelect")
                .change(function() {
                    var data = {
                        sortType: $("#dateSelect option:selected").val(),
                        sortStatus: $("#statusSelect option:selected").val()
                    };
                    $.ajax({
                        url: "/Admin/OrdeResult",
                        type: "POST",
                        data: data,
                        success: function(data) {
                            $("#divOrders").html(data);
                        }
                    });
                });
        });
    $(document)
        .ready(function() {
            $("#statusSelect")
                .change(function() {
                    var data = {
                        sortType: $("#dateSelect option:selected").val(),
                        sortStatus: $("#statusSelect option:selected").val()
                    };
                    $.ajax({
                        url: "/Admin/OrdeResult",
                        type: "POST",
                        data: data,
                        success: function(data) {
                            $("#divOrders").html(data);
                        }
                    });
                });
        });
</script>