@model Domain.Entityes.Basket
<a href="@Url.Action("Index", new {returnUrl = Request.Url?.PathAndQuery})" class="basketLink">
    <img src="~/img/cush.png" alt="Корзинка покупок" title="Корзина">
    @{
        if (Model.CountItem != 0)
        {
           <strong style="margin-right: 40px;" >@Model.CountItem</strong> 
        }
    }
</a>
