@model IEnumerable<Domain.Entityes.Product>
@{
    ViewBag.Title = "Галерея";
}
<div class="row menu-top">
    <div class="container-fuild menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Home/Index"><span>О ДИЗАЙНЕРЕ</span></a>
                    </li>
                    <li >
                        <a href="/Home/Selling"><span>ONLINE-ГАРДЕРОБ</span></a>
                    </li>
                    <li class="active">
                        <a href="/Home/Gallery"><span>ГАЛЕРЕЯ</span></a>
                    </li>
                    <li >
                        <a href="/Home/Partners"><span>ПАРТНЕРЫ</span></a>
                    </li>
                    <li>
                        <a href="/Home/ClientFeedback"><span>ОТЗЫВЫ</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
@Html.Action("Slider", "Home")
<br />
<div class="container">
    <div class="row">
        @foreach (var a in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 galerey">
                <figure>
                    <div class="galerey-cart">
                        <figcaption>
                            @foreach (var i in a.Photo)
                            {
                                if (i.Priority)
                                {
                                    <a href="" class="btn btn-info btn-lg" data-toggle="modal" data-target="#@("myModal"+ a.ProductId)">
                                        <img class="galerey-img" src="~/PhotoForDB/@i.PhotoUrl" alt="" title="@i.Product.Name">
                                    </a>
                                }
                            }
                            <div class="galerey-opis">
                                <strong class="galerey-name">@a.Name</strong>
                            </div>
                        </figcaption>
                    </div>
                </figure>
            </div>
            <div id="@("myModal"+ a.ProductId)" class="modal fade" role="dialog">
                <div class="modal-dialog">
                        <div class="modal-body modalimg">
                            @foreach (var i in a.Photo)
                            {
                                if (i.Priority)
                                {
                                        <img  src="~/PhotoForDB/@i.PhotoUrl" alt="" >
                                }
                            }
                            <br><br>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">ЗАКРЫТЬ</button>
                    </div>
                </div>
            </div>
        }
    </div> 
</div>
