@model IEnumerable<Domain.Entityes.Photo>
@{
    ViewBag.Title = "О дизайнере";
}
<div class="row menu-top">
    <div class="container-fuild menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/Home/Index"><span>О ДИЗАЙНЕРЕ</span></a>
                    </li>
                    <li>
                        <a href="/Home/Selling"><span>ONLINE-ГАРДЕРОБ</span></a>
                    </li>
                    <li>
                        <a href="/Home/Gallery"><span>ГАЛЕРЕЯ</span></a>
                    </li>
                    <li>
                        <a href="/Home/Partners"><span>ПАРТНЕРЫ</span></a>
                    </li>
                    <li >
                        <a href="/Home/ClientFeedback"><span>ОТЗЫВЫ</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
@Html.Action("Slider", "Home")
<div class="container ">
    <div class="row">
        <h4 align="center">инфо о дизайнере, инфо о дизайнере, инфо о дизайнере</h4>
        <h4 align="center">инфо о дизайнере, инфо о дизайнере, инфо о дизайнере</h4>
        <h4 align="center">инфо о дизайнере, инфо о дизайнере, инфо о дизайнере</h4>
        <h4 align="center">инфо о дизайнере, инфо о дизайнере, инфо о дизайнере</h4>
        <h4 align="center">инфо о дизайнере, инфо о дизайнере, инфо о дизайнере</h4>
        <h4 align="center">инфо о дизайнере, инфо о дизайнере, инфо о дизайнере</h4>
        <h4 align="center">инфо о дизайнере, инфо о дизайнере, инфо о дизайнере</h4>
        <h4 align="center">инфо о дизайнере, инфо о дизайнере, инфо о дизайнере</h4>
        <h4 align="center">инфо о дизайнере, инфо о дизайнере, инфо о дизайнере</h4>
        <h4 align="center">инфо о дизайнере, инфо о дизайнере, инфо о дизайнере</h4>
        <h4 align="center">инфо о дизайнере, инфо о дизайнере, инфо о дизайнере</h4>
        <h4 align="center">инфо о дизайнере, инфо о дизайнере, инфо о дизайнере</h4>
        <br/>
    </div>
</div>
