@model IEnumerable<Domain.Entityes.Photo>
@{
    ViewBag.Title = "О дизайнере";
}
<div class="row menu-top">
    <div class="container-fluid menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="myLi active" >
                        <a href="/Home/Index"><span style="font-weight: lighter">О ДИЗАЙНЕРЕ</span></a>
                    </li>
                    <li class="myLi">
                        <a href="/Home/Selling"><span style="font-weight: lighter">ONLINE-ГАРДЕРОБ</span></a>
                    </li>
                    <li class="myLi">
                        <a href="/Home/Gallery"><span style="font-weight: lighter">ГАЛЕРЕЯ</span></a>
                    </li>
                    <li class="myLi">
                        <a href="/Home/Partners"><span style="font-weight: lighter">ПАРТНЕРЫ</span></a>
                    </li>
                    <li class="myLi">
                        <a href="/Home/ClientFeedback"><span style="font-weight: lighter">ОТЗЫВЫ</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
@Html.Action("Slider", "Home")
<div class="container-fluid cont">
    <div class="row">
        <div style="margin-left: 30px; margin-top: 30px">
            <h4><img style=" float:left; margin: -10px 35px 35px 35px;" src="~/img/dizainer-min.jpg" />
                &nbsp;&nbsp;Добро пожаловать, меня зовут Таня.  Я дизайнер одежды. И по образованию, и по призванию.<br/><br />
                &nbsp;&nbsp;Хочу поделиться с Вами своим творчеством, которым активно занимаюсь с конца 2013 года. Как я вижу женский образ? Нежный, романтичный и немножко вне времени. Воспеваю в нем женственность и душевность, что отображается в ручной вышивке, цветочных элементах, кружеве или принте.<br/><br />
                &nbsp;&nbsp;Дизайнерские вещи от SAMARSKAYA исключительно в одном экземпляре и не повторяются. Более 350 платьиц было сделано и, на данный момент, не повторилось ни одно. Лишь самые востребованные отшиваются по мотивам тех, что Вам так приглянулись, но неизменно в новом виде. Такая концепция работы привносит в Ваш гардероб не только короткосрочную обновку, но и чувства индивидуальности и особенности, которые лишены вещи из масс-маркета.<br/><br />
                &nbsp;&nbsp;Важно заметить, что изделия не шьются на заказ или по Вашим индивидуальным меркам. В online-гардеробе Вы можете выбрать из ассортимента, который в наличии.        Самые любопытные из Вас наверняка заинтересуются вопросом о размере. Итак, платьица с душой от SAMARSKAYA выполнены без вытачек, простых силуэтов. Таким образом, возможность того, что платье не подойдет минимизирована, что неоднократно проверено. Подобная лаконичность формы подчеркивает Вашу истинную красоту. В этом дуэте главенствует не платье, а блистаете Вы! Приятных покупок! (с)<br />
                
            </h4>
            <br />
            <h4 align="right">Самарская, 2017.</h4>
            <br />
        </div>
    </div>
</div>
