@model IEnumerable<Domain.Entityes.Product>
<div class="container carousel">
    <div class="owl-carousel owl-theme">
        @{
            string path = "";
            foreach (var a in Model)
            {
                foreach (var i in a.Photo)
                {
                    if (i.Priority)
                    {
                        if (i.Product.Category.Equals("Selling"))
                        {
                            path = "/Home/Selling";
                        }
                        if (i.Product.Category.Equals("Gallery"))
                        {
                            path = "/Home/Gallery";
                        }
                        if (i.Product.Category.Equals("Partners"))
                        {
                            path = "/Home/Partners";
                        }

                        <div class="item"><a href="@path"><img title="@a.Name" src="~/PhotoForDB/@i.PhotoUrl" alt="" /></a></div>
                    }
                }
            }
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            loop: true, 
            margin: 20,
            nav: true, 
            navText: ['&nbsp;назад&nbsp;', 'вперед'],
            dots: false, 
            autoplay: true,
            smartSpeed: 2000,
            autoplayTimeout: 4000, 
            responsive: { 
                50: {
                    items: 0
                },
                100: {
                    items: 1
                },
                200: {
                    items: 6
                }
            }
        });
    });
</script>