.cont {
    margin: 20px;
}
.selected {
    background-color: #a55832
}.contdiv {
    margin-left: 30px;
    margin-right: 40px
}
.contimg {
    width: 280px;
    height: auto;
    float: left;
    margin: -10px 35px 5px 1px;
}
.basket, .galerey, .otziv, .partner, .tovar {
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, .58);
}

html {
    font-family: SegoeUI-Light, SegoeUI-Light, AdobeInvisFont, MyriadPro-Regular sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

.body {
}


.header {
    margin: 10px 0;
}

.headerpat h1 {
}

.logo {
    text-align: right;
    padding-right: 30px;
}

.icon, .name {
    text-align: center;
}

.name {
    margin-top: 15px;
}

.icon {
    text-align: left;
    padding-top: 20px;
}

.basket-images, .discountValue, .forma p, .navbar .navbar-collapse, .price {
    text-align: center;
}

.icon img {
    padding-left: 25px;
    width: 50px;
}

.bask-icon {
    margin: 5px 0 0 162px;
}

.otzyv img {
}

.forma {
    margin-top: 20px;
}

.menu-top {
    height: 38px;
    font-size: 20px;
}

.navbar-default {
    background-color: #6d4734;
    float: none;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.owl-stage-outer {
    max-height: 282px;
}

.galerey-cart, .partner-cart, .tovar-cart {
    align-self: auto;
}

.galerey-img, .partner-img, .tovar-img {
    max-height: 432px;
    max-width: 282px;
}

.galerey-opis, .partner-opis, .tovar-opis {
    margin: 0 auto;
}

.galerey, .partner, .tovar {
    border: 1px solid rgba(134, 86, 61, 0.5);
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.galerey-opis p, .partner-opis, .tovar-opis {
    font-size: 16px;
}

    .galerey-opis, .partner-opis strong, .tovar-opis {
        font-size: 20px;
    }

.discount {
    position: absolute;
    top: 30px;
}

.discountValue {
    display: block;
    width: 60px;
    height: 25px;
    background-color: red;
    font-size: 15px;
    color: #fff;
}

.field-validation-valid, .validation-summary-valid {
    display: none;
}

.basket-images {
    padding: 5px;
}

.basket-img {
    max-height: 120px;
    margin: 5px;
}

.basket-opis {
    margin-top: 3%
}

.basket-button {
    margin-top: 4%
}

.basket, .otziv {
    border: 1px solid rgba(109, 71, 52, 0.44);
    margin-top: 5px;
}

.itogo, h4 {
    color: #6d4734;
    font-weight: 600;
    font-size: 15px;
}
.itogo> label {
    color: #6d4734;
    font-weight: 400;
    font-size: 15px;
}

.vsego {
    text-align: right;
}

#follow, .footer h4, .modal-title, .modalimg, h5, th {
    text-align: center;
}

#follow {
    margin: 0;
    z-index: 100;
    position: fixed;
    top: 550px;
    right: 50px;
}

.modalimg img {
    max-width: 100%;
    max-height: 100%
}

.carousel {
    margin-top: 10px;
}

.item .thumb {
    width: 25%;
    cursor: pointer;
    float: left;
}

    .item .thumb img {
        width: 100%;
        margin: 2px;
    }

.item img {
    width: 100%
}

.footer {
    width: 100%;
    bottom: 0;
    margin-top: 20px;
    margin-bottom: inherit;
}

.field-validation-error {
    color: red;
    font-size: 12px;
}

.input-validation-error {
    border: 1px solid red;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: 700;
    color: red;
}

.webforyou {
    margin-top: 15px;
}

    .webforyou a {
        text-decoration: none;
        color: #000;
    }

@font-face {
    font-family: 'B52';
    font-style: normal;
    font-weight: 400;
    src: local('B52'), local('B52-Regular'), url('../fonts/b52_2d0a8eb1572d73815cd2d3ef3196c48b.woff') format('woff'), url('../fonts/b52_2d0a8eb1572d73815cd2d3ef3196c48b.ttf') format('truetype');
}

.myLi {
    font-size: 20px;
    margin-left: 85px;
    margin-right: 85px;
}

.samaraH {
    margin-left: -20px;
    margin-bottom: -10px;
    margin-top: -20px;
    font-size: 2.9vw;
    font-family: 'B52', arial;
}

.samaraL {
    font-size: 2vw;
    font-family: 'B52', arial;
}




@media screen and (max-width: 1635px) {
    .myLi {
        font-size: 20px;
        margin-left: 65px;
        margin-right: 65px;
    }

    .samaraH {
        margin-left: -20px;
        margin-bottom: -10px;
        margin-top: -20px;
        font-size: 2.9vw;
        font-family: 'B52', arial;
    }

    .samaraL {
        font-size: 2vw;
        font-family: 'B52', arial;
    }
}

@media screen and (max-width: 1400px) {
    .myLi {
        font-size: 20px;
        margin-left: 46px;
        margin-right: 46px;
    }

    .samaraH {
        margin-left: -20px;
        margin-bottom: -10px;
        margin-top: -20px;
        font-size: 2.9vw;
        font-family: 'B52', arial;
    }

    .samaraL {
        font-size: 2vw;
        font-family: 'B52', arial;
    }
}


@media screen and (max-width: 1200px) {
    .myLi {
        font-size: 20px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .samaraH {
        margin-left: -20px;
        margin-bottom: -10px;
        margin-top: -20px;
        font-size: 2.9vw;
        font-family: 'B52', arial;
    }

    .samaraL {
        font-size: 2vw;
        font-family: 'B52', arial;
    }
}
@media screen and (max-width: 1026px) { /*-----------------IPadPro------------------------*/
    .myLi {
        font-size: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .samaraH {
        margin-left: -20px;
        margin-bottom: -10px;
        margin-top: -1px;
        font-size: 3vw;
        font-family: 'B52', arial;
    }

    .samaraL {
        font-size: 2.6vw;
        font-family: 'B52', arial;
    }
}

@media screen and (max-width: 992px) {
    .myLi {
        font-size: 16px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .samaraH {
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: -10px;
        font-size: 5.6vw;
        font-family: 'B52', arial;
    }

    .samaraL {
        font-size: 3vw;
        font-family: 'B52', arial;
    }
}

@media screen and (max-width: 770px) { /*-----------------iPad------------------------*/
    .myLi {
        font-size: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .samaraH {
        margin-right: -40px;
        margin-bottom: 0px;
        margin-top: -10px;
        font-size: 5.6vw;
        font-family: 'B52', arial;
    }

    .samaraL {
        font-size: 3vw;
        font-family: 'B52', arial;
    }
}

@media screen and (max-width: 650px) {
    .cont {
        margin: 20px;
    }

    .contdiv {
        margin-left: 30px;
        margin-right: 40px
    }

    .contimg {
        width: 280px;
        height: auto;
        float: left;
        margin: -10px 35px 5px 1px;
    }

    .samaraH {
        margin-right: -100px;
        margin-top: 0px;
        font-size: 5.8vw;
        font-family: 'B52', arial;
    }

    .samaraL {
        margin-left: 30px;
        font-size: 3.9vw;
        font-family: 'B52', arial;
    }
    .koma {
        max-height: 20px;
        margin-left: -20px;
    }
}
@media screen and (max-width: 480px) {
    .cont {
        margin: 20px;
    }

    .contdiv {
        margin-left: 30px;
        margin-right: 40px
    }

    .contimg {
        width: 280px;
        height: auto;
        float: left;
        margin: -10px 35px 5px 1px;
    }
    .samaraH {
        margin-right: -100px;
        margin-top: 0px;
        font-size: 5.8vw;
        font-family: 'B52', arial;
    }

    .samaraL {
        margin-left: 30px;
        font-size: 3.9vw;
        font-family: 'B52', arial;
    }
    .koma {
        max-height: 20px;
        margin-left: -20px;
    }
}

@media screen and (max-width: 414px) { /*-----------------Nexus------------------------*/
    .cont {
        margin: 0px;
    }
    .icon {
        margin-left: -5px;
    }
    .contdiv {
        margin-left: 35px;
        margin-right: 35px
    }

    .contimg {
        width: 300px;
        height: auto;
        float: left;
        margin: -10px 25px 5px 15px;
    }
    .samaraH {
        margin-right: -90px;
        margin-top: 0px;
        font-size: 5.8vw;
        font-family: 'B52', arial;
    }

    .samaraL {
        margin-left: 30px;
        font-size: 3.9vw;
        font-family: 'B52', arial;
    }
    .koma {
        max-height: 20px;
        margin-left: -20px;
    }
}

@media screen and (max-width: 375px) { /*-----------------Galaxy S5------------------------*/
    .cont {
        margin: 0px;
    }
    .icon {
        margin-left: -5px;
    }
    .contdiv {
        margin-left: 15px;
        margin-right: 15px
    }

    .contimg {
        width: 330px;
        height: auto;
        float: left;
        margin: -10px 35px 5px 1px;
    }
    .samaraH {
        margin-right: -90px;
        margin-top: 0px;
        font-size: 5.9vw;
        font-family: 'B52', arial;
    }

    .samaraL {
        margin-left: 30px;
        font-size: 3.9vw;
        font-family: 'B52', arial;
    }
    .koma {
        max-height: 20px;
        margin-left: -20px;
    }
}

@media screen and (max-width: 322px) { /*----------------------ifone 5 --------------------*/
    .cont {
        margin: 0px;
    }
    .icon {
        margin-left: -15px;
    } .contdiv {
        margin-left: 5px;
        margin-right: 5px
    }

    .contimg {
        width: 300px;
        height: auto;
        float: left;
        margin: -10px 35px 5px 1px;
    }
    .samaraH {
        margin-right:-40px;
        margin-left: 0px;
        margin-top: 0px;
        font-size: 5.5vw;
        font-family: 'B52', arial;
    }

    .samaraL {
        margin-left: 30px;
        font-size: 3.9vw;
        font-family: 'B52', arial;
    }
    .koma {
        max-height: 15px;
    }
    .polosa {
        max-width: 280px;
    }
}